# Compiled Java files
*.class

# Build folders
out/
build/
bin/
target/

# IDE files
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
